
.about {
        max-width: 1200px;
        margin: 0 auto; 
        padding: 20px; 
        box-sizing: border-box; 
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 100px; 
        margin-right: 20px; 
        display: flex;    
}
    

.about .about-left {
    flex-basis: 30%;

    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    color: #0B0C0E;
}

.about .about-right {
    flex-basis: 70%;
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 140%;
    text-align: justify;
    color: #3C3D3E;
}